*{
  margin: 0;
  padding: 0;
}

h2{
  font-size: 90px;
  text-align: center;
  color: white;
  text-shadow:  0px 0px 30px pink;
}

h3{
  font-size: 50px;
  text-align: center;
  color: white;
  text-shadow:  0px 0px 30px pink;

}

h4{
  font-size: 40px;
  text-align: center;
  margin-top: 15px;
}

p{
  padding: 40px 100px;
  font-size: 20px;
  text-align: center;
}

nav{
  height: 10vh;
  position: fixed;
  background: yellow;
  width: 100%;
  top: 0;
  z-index: 10;
}
header{
  margin-top: 10vh;
  background: url("../img/steven-kamenar-11107-unsplash.jpg")no-repeat center!important;
  background-size: cover;
}
header h2{
  padding-top: 40vh;
}

.screen{
  height: 90vh;
  background: green;
  border-bottom: 1px solid black;
  position: relative;
}
.onethirth{
  height: 33vh;
  background: pink;
}
.onethirth h3{
  padding-top: 10vh;
}

.img{
  overflow:hidden;
}

.img img{
  width: 50%;
  margin-top: -150px;
}
.left{
  position: absolute;
  height: auto;
}
.right{
  float: right;
  width: 50%;
}
